body {
  font-family: Arial, sans-serif;
  background: #eef6f8;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #2c3e50;
}

.search-box {
  margin: 20px;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: none;
}

img {
  width: 300px;
  border-radius: 8px;
  margin: 10px 0;
}